.sidebar {

  width: 220px;

  min-height: calc(100vh - 60px);

  background-color: #1f2937;

  padding: 20px;

  display: flex;

  flex-direction: column;

  gap: 15px;
}

.sidebar a {

  color: white;

  padding: 12px;

  border-radius: 6px;

  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #374151;
}
.sidebar .active {
  background-color: #4b5563;
}
@media (max-width: 768px) {

  .sidebar {

    width: 80px;
  }

  .sidebar a {

    font-size: 12px;

    padding: 8px;
  }
}